body{
  background: hsl(228deg 42% 95%);
  font-family: 'Roboto', sans-serif;
}

.summary-box-container, .profit-box-container,
.overview-container{
  background: hsl(0deg 0% 100%);
  padding: 15px;
}

.summary-box-time-container{
  display: flex;
  justify-content: space-between;
  color: hsl(214deg 18% 65%);
}

.summary-box-text{
  color: hsl(218deg 18% 43%);
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.summary-box-number, .profit-box-number{
  color: hsl(212deg 23% 26%);
  font-size: 28px;
  margin: 0;
  font-weight: 500;
  margin-bottom: 4px;
}

.summary-box-spec, .profit-box-time-container,
.overview-spec{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-box-list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width : 500px) {
  .summary-box-list{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width : 1200px) {
  .summary-box-list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.summary-box-time-container > p, .profit-box-time-container > p {
  margin: 6px 0px;
}

.profit-box-container, .overview-container{
  margin-top: 24px;
}

.profit-box-sub-text, .overview-text{
  color: hsl(214deg 17% 65%);
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
}

.profit-box-heading, .overview-heading{
  font-weight: 500;
  margin: 0;
}

.profit-box-time-container > p:first-child {
  color: hsl(214deg 17% 65%);
}

.percent-box-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notfound{
  text-align: center;
}

.notfoundimg{
  width: 100%;
}

.cardlogin{
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 200px;
  padding: 10px;
}

.cardregister{
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 310px;
  padding: 10px;
}

.card{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.ul{
  width: 90%;
}